<div class="hello">
  <div class="searchbar" v-if="showSearchbar">
    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <md-field>
          <label>Searches Author, Title, BookTitle and Year.</label>
          <md-input v-model="searchString" placeholder="Search here"></md-input>
          <span class="md-helper-text">{{ searchResults }} / {{ dataSize }} matches</span>
        </md-field>
      </div>
      <div class="md-layout-item">
        <md-field>
          <label for="years">Year</label>
          <md-select v-model="selectedYears" name="years" id="years" multiple>
            <md-option value="2018">2018</md-option>
            <md-option value="2017">2017</md-option>
            <md-option value="2016">2016</md-option>
            <md-option value="2015">2015</md-option>
            <md-option value="2014">2014</md-option>
          </md-select>
        </md-field>
      </div>
      <div class="md-layout-item">
        <md-field>
          <md-select v-model="selectedAuthors" name="author" id="author" placeholder="Author" multiple>
            <md-option value="Thomas Seidl">Prof. Dr. Thomas Seidl</md-option>
            <md-option value="Peer Kröger">Prof. Dr. Peer Kröger</md-option>
            <md-option value="Matthias Schubert">Prof. Dr. Matthias Schubert</md-option>
            <md-option value="Volker Tresp">Prof. Dr. Volker Tresp</md-option>
            <md-option value="Hans-Peter Kriegel">Prof. Dr. Hans-Peter Kriegel</md-option>
          </md-select>
        </md-field>
      </div>
      <div class="md-layout-item">
        <md-field>
          <label for="types">Entry Types</label>
          <md-select v-model="selectedTypes" name="types" id="types" multiple>
            <md-option value="doi">doi</md-option>
            <md-option value="journal">journal</md-option>
            <md-option value="url">url</md-option>
            <md-option value="biburl">biburl</md-option>
            <md-option value="bibsource">bibsource</md-option>
          </md-select>
        </md-field>
      </div>
    </div>
  </div>

  <md-card v-for="pub in getPublications()" :key="pub.id">
    <md-card-content>
      <h4> {{ pub.Fields.title }} {{ pub.Fields.year }}</h4>
      <p> {{ pub.Fields.author }} </p>
      <p> {{ pub.Fields.booktitle }} </p>
    </md-card-content>
  </md-card>
</div>
