body {
  padding: 0;
  margin: 0;
  background-color: #FAFAFA;
}

.mainGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header header' 'sidebar content' 'footer footer';
}

.header {
  background-color: #E0E0E0;
  grid-area: header;
  padding: 16px;
  text-align: center;
}

.sidebar {
  background-color: #F5F5F5;
  grid-area: sidebar;
  padding: 16px;
}

.content {
  background-color: #FFFFFF;
  grid-area: content;
  padding: 16px;
}

.footer {
  grid-area: footer;
  background-color: #E0E0E0;
  text-align: center;
}
